<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civil | Books</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="container">
        <div class="python">
            <div class="name">
                <h1>Basic Civil Engineering</h1>
                <h3>Published by : Pearson India (1st edition)</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <a href="../public/images/civilbook1.pdf" Download> <button>
                                View Offline
                            </button></a>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Basic Civil Engineering is designed to enrich the preliminary conceptual knowledge about
                            civil engineering to the students of non-civil branches of engineering. The coverage
                            includes materials for construction, building construction, basic surveying and other major
                            topics like environmental engineering, geo-technical engineering, transport traffic & urban
                            engineering, irrigation & water supply engineering and CAD.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/civil1.jpeg" alt="python book">
            </div>

        </div>
        <div class="CN">
            <div class="name">
                <h1>Estimating and Costing in Civil Engineering</h1>
                <h3>Published by : CBS Publishers & Distributors Private Limited (28th edition)</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            Unavailable
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Content of the book:- 1. Procedure of estimating. 2. Method of building estimate. 3.
                            Estimate of buildings. 4. Estimate of different types of roofs. 5. R.C.C work and structure.
                            6. Sanitary and Water Supply works. 7. Road estimating. 8. Culverts, bridges, Wells. 9.
                            Irrigation works. 10. Types of estimate, sanction, project, etc. 11. Analysis of rates. 12.
                            Estimating of qualities of materials and transport. 13. Specifications. 14. Rules and
                            methods of Measurement of works. 15. Valuation. 16. Reports technical and design data. 17.
                            Br.W. d accounts and procedure for works. 18. Planning of building and colony. 19. Village
                            housing. 20. Schedule of rates metric and fbr. System.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/civil2.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Advanced Construction Technology 5th edition
                </h1>
                <h3>Published by : Pearson</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            Unavailable
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Fully revised and updated with the latest information and techniques, and covering new
                            issues such as sustainability, so students have everything they need for a modern course.
                            Bridges the gap between Student and Professional: content and style is pitched to support
                            students with an illustrated and explanative approach, whilst preparing them for the look
                            and feel of professional handbooks. Provides students with a comprehensive and reliable
                            guide to construction technology, from respected authors Roy Chudley and Roger Greeno.
                            Provides expert content in an accessible style with clear, concise text and detailed,
                            explanative illustrations. Includes references to current Building and Construction
                            Regulations, British and European Standards.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/civil3.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Civil Engineering Materials: Introduction and Laboratory
                </h1>
                <h3> Published by : CRC Press; 1st edition (9 April 2020)</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            Unavailable
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Civil Engineering Materials: Introduction and Laboratory Testing discusses the properties,
                            characterization procedures, and analysis techniques of primary civil engineering materials.
                            It presents the latest design considerations and uses of engineering materials as well as
                            theories for fully understanding them through numerous worked mathematical examples. The
                            book also includes important laboratory tests which are clearly described in a step-by-step
                            manner and further illustrated by high-quality figures.This book is intended for students in
                            civil engineering, construction engineering, civil engineering technology, construction
                            management engineering technology, and construction management programs.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/civil4.jpeg" alt="python book">
            </div>
        </div>



    </section>
</body>

</html>