<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE | Books</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="container">
        <div class="python">
            <div class="name">
                <h1>Python Programming for Beginners : The Ultimate Guide for Beginners to Learn Python Programming</h1>
                <h3>Published by : AWZ PUBLISHING</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description : </h1>
                        <div class="brief">
                            Throughout this book, we will be focusing more on the Python 3.x version, which is the
                            latest
                            and is
                            currently in active development. I would like to inform you all that the purpose of writing
                            this
                            book is to make your understanding of Python clearer by explaining technical terms in
                            layman’s
                            language with the help of code snippets and practical examples.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/python.jpeg" alt="python book">
            </div>

        </div>
        <div class="CN">
            <div class="name">
                <h1>Introduction to Computer and Network Security</h1>
                <h3>Author : Richard R. Brooks</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description : </h1>
                        <div class="brief">
                            The book presents basic principles and concepts, along with examples of current threats to
                            illustrate how the principles can either enable or neutralize exploits. Students see the
                            importance of these concepts in existing and future technologies. In a challenging yet
                            enjoyable way, they learn about a variety of technical topics, including current security
                            exploits, technical factors that enable attacks, and economic and social factors that
                            determine the security of future systems.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/cn.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>The Computer Science Book: A complete introduction to computer science in one book
                </h1>
                <h3>Author : Tom Johnson</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description : </h1>
                        <div class="brief">
                            Learn the computer science foundations you need to jump start your career. Ten chapters
                            covering all the career-essential topics. Become confident in computer architecture,
                            networking, databases and much more. Perfect for beginners, self-taught developers, bootcamp
                            graduates and anyone who wants to really understand how computers work. Ten concise chapters
                            covering the essential computer science topics. Each one functions both as a standalone
                            introduction and a launch pad for further, independent study.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/cs1.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>A Programmer's Guide to Computer Science: A virtual degree for the self-taught developer
                </h1>
                <h3> Author : William M Springer</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description : </h1>
                        <div class="brief">
                            The author, a senior developer at a major software company with a PhD in computer science,
                            takes you through what you would have learned while earning a four-year computer science
                            degree.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/cs.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Algorithms Illuminated (PART-3)
                </h1>
                <h3>Author : Tim Roughgarden</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description : </h1>
                        <div class="brief">
                            Throughout this book, we will be focusing more on the Python 3.x version, which is the
                            latest
                            and is
                            currently in active development. I would like to inform you all that the purpose of
                            writing
                            this
                            book is to make your understanding of Python clearer by explaining technical terms in
                            layman’s
                            language with the help of code snippets and practical examples.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/algo.jpeg" alt="python book">
            </div>
        </div>


    </section>
</body>

</html>