<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECE | Books</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="container">
        <div class="python">
            <div class="name">
                <h1>Basic electrical engineering</h1>
                <h3>Published by: mcgraw hill;fourth edition(20 April 2019)/h3>
                    <div class="buttons">
                        <div class="slot">
                            <button>
                                Slot Booking
                            </button>
                        </div>
                        <div class="offline">
                            <button>
                                View Offline
                            </button>
                        </div>
                    </div>
                    <div class="desc">
                        <h2> Brief Description :</h1>
                            <div class="brief">
                                Basic Electrical Engineering is a core course for the first-year students of all
                                engineering disciplines across the country. This course enables them to apply the basic
                                concepts of Electrical engineering for multi-disciplinary tasks, and also lays the
                                foundation for higher level courses in electrical and electronics engineering degrees.An
                                established hallmark, this revised edition of the book continues to dwell on all the key
                                concepts and applications in the field and covers the subject in its entirety. Curated
                                with great care, it provides an unmatched exposure to fundamentals of Electricity,
                                Network theory, Electric machines, and Measuring instruments.
                            </div>
                    </div>
            </div>
            <div class="bookpic">
                <img src="/images/ECE!.jpeg" alt="python book">
            </div>

        </div>

        <div class="cs">
            <div class="name">
                <h1>Basic Electrical Engineering
                </h1>
                <h3>Publisher : Pearson Education; first edition (28 June 2019)</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Basic electrical Engineering perfectly matches the syllabus prescribed by the all Indian
                            Council for Technical Education (AICTE), new Delhi and subsequently implemented by several
                            universities. It provides a detailed explanation of the theory along with the applications
                            of various laws in Electrical Engineering. The presentation of content and writing style in
                            the book is the result of the rich experience gained by the author in teaching this subject
                            for over two decades. Features: the purpose of this book is to provide a basic foundation of
                            various concepts, principles, and practices of electrical Engineering to the readers.
                            Extensive use of illustrations within the Chapter help readers grasp the concepts faster.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/ECE2.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Design for Excellence in Electronics Manufacturing
                </h1>
                <h3> Published By : Wiley; 1st edition (30 March 2021)</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Design for Excellence in Electronics Manufacturing is a comprehensive, state-of-the-art book
                            that covers design and reliability of electronics. The authors—noted experts on the
                            topic—explain how using the DfX concepts of design for reliability, design for
                            manufacturability, design for environment, design for testability, and more, reduce research
                            and development costs and decrease time to market and allow companies to confidently issue
                            warranty coverage
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/ece3.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Standard Handbook for Electrical Engineers, Seventeenth Edition
                </h1>
                <h3>Published By : McGraw Hill; 17th edition (24 November 2017)</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <button>
                            View Offline
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            This fully revised, industry-standard resource offers practical details on every aspect of
                            electric power engineering. The book contains in-depth discussions from more than 100
                            internationally recognized experts. Generation, transmission, distribution, operation,
                            system protection, and switchgear are thoroughly explained. Standard Handbook for Electrical
                            Engineers, Seventeenth Edition, features brand-new sections on measurement and
                            instrumentation, interconnected power grids, smart grids and microgrids, wind power, solar
                            and photovoltaic power generation, electric machines and transformers, power system
                            analysis, operations, stability and protection, and the electricity market.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/ece4.jpeg" alt="python book">
            </div>
        </div>


    </section>
</body>

</html>