<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mech | Books</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="container">
        <div class="python">
            <div class="name">
                <h1>Shigley’s Mechanical Engineering Design</h1>
                <h3>Published by : RICHARD G. Budynas, J keith nisbett</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <a href="../public/images/mechbook1.pdf" Download> <button>
                                View Offline
                            </button></a>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Shigley’s Mechanical Engineering design is a standard text intended for beginners of the
                            subject area. This revised edition in SI units focuses on blending fundamental concepts with
                            modern emphasis on design and new applications. It covers the basics of machine design,
                            including the design process, engineering Mechanics and materials, failure prevention under
                            static and variable loading, and characteristics of the principal types of Mechanical
                            elements. As an indispensable reference text, it makes students familiar with the basis for
                            decisions as well as the standards of industrial components and helps them transition into
                            practicing engineers.
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/mech1.jpeg" alt="python book">
            </div>

        </div>
        <div class="CN">
            <div class="name">
                <h1>Mechanical Engineering Handbook: Guide For Both Theoretical and Formulas</h1>
                <h3>Author : navy feroz</h3>
                <div class="buttons">
                    <div class="slot">
                        <button>
                            Slot Booking
                        </button>
                    </div>
                    <div class="offline">
                        <a href="../public/images/mechbook2.pdf" Download> <button>
                                View Offline
                            </button></a>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Handbook for Mechanical Engineering helps you to learn all subjects formulas and theory
                            portion in the One Book which helps you to learn faster by combining both the formulas and
                            theory along with concepts and course outlines are given here. Select your desired course
                            and you can revise all the concepts within an hour only. When you are a mechanical engineer,
                            you need to know the important formulas and concepts during the competitive exams like GATE,
                            ESE and other exams to solve the answer all the questions. So, this book provide you the all
                            necessary answers for all the subject. This book is specially prepared for the mechanical
                            engineers
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/mech2.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Fundamentals of Mechanical Engineering
                </h1>
                <h3>Author : Said Aljabri {1st edition)</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            Unavailable
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            Fundamentals of Mechanical Engineering is useful for all levels of Engineers, Lecturers, and
                            any person who interest to Engineering,It talks about the fundamentals of Fluid
                            Power,Heat,Mechanics of Machines, Thermodynamics ,Physics,chemistry,Mathematics
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/mech3.jpeg" alt="python book">
            </div>
        </div>
        <div class="cs">
            <div class="name">
                <h1>Introduction to Mechanical Engineering
                </h1>
                <h3> Published by : New Age International Private Limited (Sixth edition)</h3>
                <div class="buttons">
                    <div class="slot">
                        <a href="/booking"> <button>
                                Slot Booking
                            </button></a>
                    </div>
                    <div class="offline">
                        <button>
                            Unavailable
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <h2> Brief Description :</h1>
                        <div class="brief">
                            This book is a systematic presentation of the concepts and principles essential for
                            understanding Engineering Thermodynamics, Engineering Mechanics and Strength of Materials.
                            The textbook covers the complete syllabus of compulsory subject of Mechanical Engineering of
                            Dr. A P J Abdul Kalam Technical University, Lucknow in particular and other universities of
                            the country in general for undergraduate students of engineering and technology. Basic
                            Concepts and Laws of Thermodynamics have been clearly explained using a large number of
                            solved problems. Entropy, properties of pure substances, thermodynamic cycles and I C
                            engines are described in detail. Steam tables and Mollier diagram are included
                        </div>
                </div>
            </div>
            <div class="bookpic">
                <img src="/images/mech4.jpeg" alt="python book">
            </div>
        </div>

        </div>


    </section>
</body>

</html>