<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="signupstyles.css">
</head>
<div class="main">
  <form class="signup" action="/signup" style="border:1px solid #ccc">
    <div class="container">
      <div class="head">
        <h1>The Great Library of Alexandria</h1>
        <p> <b>Sign Up</b> </p>
      </div>

      <hr>
      <div class="form">
        <div class="set3">
          <label for="name"><b>Name : </b></label>
          <input type="text" placeholder="Enter Your name" name="name" required>


          <label for="email">Email</label>
          <input type="text" placeholder="Enter  Your Email" name="email" required />
          <div class="email error"></div>
          <label for="password">Password</label>
          <input type="password" placeholder="Enter a Password" name="password" required />
          <div class="password error"></div>


          <label for="psw-repeat"><b>Repeat Password : </b></label>
          <input type="password" placeholder="Repeat  Password" name="psw-repeat" required>
          <div class="password error"></div>
          <label for="srn"><b>SRN : </b></label>
          <input type="text" placeholder="Enter Your password" name="srn" required>
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">
            Remember me
          </label>

          <p>Already a user
            <a href="/login">Login here!</a>
          </p>

          <div class="clearfix">
            <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
            <button class="signupbtn">Sign Up</button>
          </div>
        </div>
        <div class="set4">Sign up to deep dive into the knowledge of Books!

        </div>
      </div>
    </div>
  </form>
</div>


<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get values
    const name = form.name.value;
    const email = form.email.value;
    const password = form.password.value;
    const srn = form.srn.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({ name, email, password, srn }),
        headers: { 'Content-Type': 'application/json' }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/dashboard');
      }

    }
    catch (err) {
      console.log(err);
    }

  });
</script>